streamlit
pandas
python-dotenv
pydeck
geopy
geolocation-python
shapely
streamlit-dynamic-filters
qrcode
watchdog
streamlit_authenticator
streamlit_geolocation
google-auth
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
streamlit-modal